.container {
  background: #3f4449;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 15px;
}

img {
  $widthAndHeight: 100px;
  width: $widthAndHeight;
  height: $widthAndHeight;
  margin: 0 auto;
}

p {
  text-align: center;
}
